{% extends "base.html" %}
{% set documentation = (pages | page_with_slug("documentation")) %}

{% block content %}
    <main>
      <div class="container">
        <div class="row my-1">
          {{ documentation.content }}
        </div>

        {% for id, project in PROJECTS.items() %}
        <div class="row bg-light bg-gradient rounded my-2 p-1">
          <div class="col-12">
            <h2>{{ project.name }} <a href="{{ project.repository }}" target="blank_"><i class="fab fa-github"></i></a></h2>
            {% for version in project.releases | sort(reverse=True) %}
            <a class="btn btn-outline-secondary btn-sm" href="/docs/{{ id }}/{{ version }}/index.html">{{ version }}</a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
{% endblock content %}
