    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row ato-navbar">
      <a class="navbar-brand mx-3" href="/">
        <img src="/images/cyclonedds-white.svg" class="align-middle" alt="">
      </a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          {% for title, link in MENUITEMS %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link }}">{{ title }}</a>
          </li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU -%}
          {% for pg in pages|sort(attribute='sortorder') %}
          <li class="nav-item">
            <a class="nav-link {% if pg == page %} active {% endif %}" href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>

      {% if LINKS %}
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        {% for name, link, logo in LINKS %}
        <li class="nav-item">
          <a class="nav-link p-2" href="{{ link }}" target="_blank" rel="noopener" aria-label="{{ name }}">
            {% if icon %}
            <svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/s" viewbox="0 0 512 499.36" focusable="false">
              <image xlink:href="{{ logo }}" fill="currentColor">
            </svg>
            {% endif %}<title>{{ name }}</title>
           </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </header>
