    <footer class="ato-footer text-muted">
      <div class="container-fluid p-6 p-md-5">
        <div class="row">
          <div class="col-6 col-md-2 pb-2">
            <h5>Eclipse Incubation</h5>
            <p><img src="/images/eclipse-incubation.png" style="width:100px;"></p>
            <p>Eclipse Cyclone DDS &trade; is an incubating project under the Eclipse Foundation.</p>
          </div>

          <div class="col-6 col-md-2 pb-2">
            <h5>More Information</h5>
            <p><a href="https://www.eclipse.org/legal" target="_blank">Legal</a></p>
            <p><a href="https://www.eclipse.org/legal/privacy.php" target="_blank">Privacy policy</a></p>
            <p><a href="https://www.eclipse.org/legal/termsofuse.php" target="_blank">Terms of use</a></p>
            <p><a href="https://www.eclipse.org/legal/copyright.php" target="_blank">Copyright</a></p>
            <p><a href="https://www.eclipse.org/security/" target="_blank">Report a security issue</a></p>
            <p><a href="https://www.eclipse.org/legal/epl-2.0/" target="_blank">Eclipse Public License 2.0</a></p>
            <p><a href="https://www.eclipse.org/org/documents/edl-v10.php" target="_blank">Eclipse Distribution License 1.0</a></p>
            <p><a href="https://www.eclipse.org/" target="_blank">Eclipse Foundation</a></p>
          </div>

          <div class="col-6 col-md-2 pb-2">
            <h5>Sponsored by:</h5>
            <p><a href="https://www.eclipse.org/" target="_blank"><img src="/images/eclipse-foundation.svg" alt="Eclipse Foundation" class="img-fluid w-75"></a></p>
            <p><a href="https://zettascale.tech/" target="_blank"><img src="/images/zettascale.svg" alt="ZettaScale Technology" class="img-fluid w-75"></a></p>
            <p><a href="https://www.adlinktech.com" target="_blank"><img src="/images/company_logo.svg" alt="ADLINK Technology" class="img-fluid w-75"></a></p>
          </div>

          <div class="col-6 col-md-2 pb-2">
            <h5>Follow us</h5>
            <p><a href="https://github.com/eclipse-cyclonedds/cyclonedds"><span class="fab fa-github"></span>&nbsp;GitHub</a></p>
            <p><a href="https://twitter.com/EclipseCyclone"><span class="fab fa-twitter"></span>&nbsp;Twitter</a></p>
            <p><a href="https://discord.gg/BkRYQPpZV"><span class="fab fa-discord"></span>&nbsp;Discord</a></p>
            <p><a href="/docs"><span class="fa fa-info-circle"></span>&nbsp;About</a></p>
          </div>

          <div class="col-12 col-md-4 pb-2">
            <p>Eclipse Cyclone DDS &trade; is free, open source and always will be.</p>
            <p>Copyright &copy; 2022 Eclipse Foundation</p>
            <p>Theme inspired by: <a href="https://tokio.rs/" target="_blank">Tokio website theme</a></p>
          </div>
        </div>
      </div>
    </footer>
