{% set page = content.category %}
{% set title = "Eclipse Cyclone DDS - FAQ" %}
{% extends "_base.html" %}

{# This template is used for plain markdown files. #}


{% block head %}
{{ super () }}
<link rel="stylesheet" href="/css/pygments.css">
<link rel="stylesheet" href="/css/markdown.css">
{% endblock head %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto px-5 my-3 markdown">
        {{ content.html | safe }}
      </div>
    </div>
    {% if 'author' in content.meta %}
    <div class="row">
      <div class="col-12 mx-auto px-5 mb-3">
        <span class="text-muted">
          By {{ content.meta.get('author', ['unknown'])[0] }}, posted on {{ content.meta.get('date', ['unknown'])[0] }}.</span>
      </div>
    </div>
    {% endif %}
  </div>
</main>
{% endblock content %}