{% set page = "home" %}
{% set title = "Eclipse Cyclone DDS - Home" %}
{% extends "_base.html" %}

{% block content %}
<main>
  <div class="container-fluid section" id="summary">
    <div class="row align-items-center my-5 section" id="row">
      <div class="col-12 col-md-6 mx-auto px-5 mb-3 text-center">
        <img src="/images/cyclonedds.png" alt="cyclonedds" class="img-fluid w-50 align-middle"/>
      </div>

      <div class="col-12 col-md-6 order-md-2 text-center text-md-start pr-md-5 section"
        id="building-portable-interoperable-distributed-datacentric-systems">
        <h4>Building Portable &amp; Interoperable Distributed Datacentric Systems</h4>
        <p>
          Cyclone DDS is a high performing, OMG-DDS standard based data sharing technology which allows system
          designers to create digital twins of their systems' entities to share their states, events, data-streams and
          messages on the network in real-time and fault-tolerant way.
        </p>
        <p>
          <a class="btn btn-sm ato-button" href="/docs/cyclonedds/latest/getting_started/index.html">
            Get Started
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid section" id="highlights">
    <div class="highlights masthead-followup row m-0 border border-white section" id="row-1">
      <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white section" id="fast-dependable">
        <h4>Fast &amp; Dependable</h4>
        <p>
          Cyclone DDS has an extremely low latency and high throughput, especially in rush environments and noisy
          networks where error transmission rates are relatively high.
          Performance variability and jitters are minimum which make it suitable for real-time and mission critical
          applications.
          Cyclone DDS also has a low footprint making it suitable for both enterprise and embedded systems.
        </p>
        <p>
          Capitalizing on our lengthy experience developing data-centric middleware in real-time distributed systems,
          the Cyclone DDS development team and community are fulfilling stringent software development processes with
          certifiability of the technology in mind, to be deployed where safety is mandated.
        </p>
      </div>
      <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white section" id="consistent-scalable">
        <h4>Consistent &amp; Scalable</h4>
        <p>
          Cyclone DDS minimizes the DDS automatic discovery protocol overhead by aggregating the number of
          applications' representatives in the DDS network.
          It scales out, both in Edge based peer-to-peer or in large-scale IoT deployments.
          To rationalize the network resources in use, it can spread data on different multicast and unicast groups to
          confine it physically to where it is needed.
        </p>
        <p>
          The Cyclone DDS design maintains data distribution integrity and consistency between all applications that
          need it.
          Data consistency is guaranteed, even when the system topology changes due to application disconnections,
          reconnections or transient infrastructure failure.
        </p>
      </div>
      <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white section" id="secure-interoperable">
        <h4>Secure &amp; Interoperable</h4>
        <p>
          To secure data exchanges, pre-built or user-defined plug-ins for applications Authentication, Authorization
          and data Encryption are supported.
          Authentication uses the pre-built plugins with RSA, key exchange uses Diffie-Hellman. Authorization uses a
          permissions document signed by shared Certificate Authority. Cryptography uses AES-GCM and AES-GMAC for
          message authentication.
        </p>
        <p>
          As a smart implementation of the DDSi-RTPS and the DDS-Security protocols Cyclone DDS interoperates with any
          other compliant DDS implementation.
          Interworking with non-DDS technologies is possible through other mediating technologies such as Zenoh or
          Camel-Apache.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}